nav {
    display: flex;
    justify-content: flex-end;

    background-color: lightseagreen;
    height: 8vh;
}


.cart {
    display: flex;
    align-items: center;
    margin-right: 25px;
    transition: transform 0.6s;
}

.cart img {
    max-width: 3vw;
    max-width: 5vh;
}


.cart p {
    position: relative;
    right: 5px;
    bottom: 28px;

    font-size: large;
}

.cart:hover {
    transform: scale(1.08);
    transition: transform 0.8s;
}

.navbar-cart {
    background: darkblue;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2%;

    display: flex;
    flex-direction: column;


    width: 20vw;
    max-height: 90vh;

    z-index: 2;
}

.navbar-cart-item {
    background: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navbar-cart-item img {
    max-width: 5vw;
    max-height: 5vh;
}

.navbar-cart-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10vw;

}

.navbar-cart-item-info button {
    width: 2vw;
    height: 2vh;
}